<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>
 <div class="login">
  <option value=""></option>
	<h1>Population Prediction</h1>
  <form action="" name="RegionForm">
    <div class="col-md-10 form-group" style="text-align: center">
      <label><b>Select the Region:</b> </label><br>
      <select id="level1" name="region" required="1">
        <option value="" >Select</option>
      </select>
  </div>
  <div class="col-md-10 form-group" style="text-align: center">
      <label><b>Select the area:</b> </label><br>
      <select class="selectpicker form-control" id="level2" name="area" required="1">
        <option value="" >Select</option>
      </select>
  </div>
 
  </form>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="Year" placeholder="Enter Year" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   <div class="prediction_text">
    {{ prediction_text }}
   </div>
   

 </div>
 
 </script>
 <script src="./data.js"></script>
</body>
</html>